<!DOCTYPE html>
<html>
<head>
	<title>Add madicine</title>
</head>
<body>
	<form method="POST">
	<h1>Add madicine</h1>
	Name: <input type="text" name="name"><br>
	Catagory: <input type="text" name="catagory"><br>
	Sub catagory: <input type="text" name="subCatagory"><br>
	Vendor : <input type="text" name="vname"><br>
	Price : <input type="text" name="price"><br>
	Quantity: <input type="text" name="quantity"><br>

	<input type="submit" name="submit" value="Register">
	</form>
</body>
</html>