<!DOCTYPE html>
<html>
<head>
	<title>admin Home</title>
</head>
<body>
	<h1>This is admin home</h1>
	<a href="/admin/edit">Edit Profile</a> | 
	<a href="/admin/addMadicine">Add madicine</a> | 
	<a href="/admin/controlMadicine">Control madicine</a>

</body>
</html>